::ng-deep .custom-card-title .ui-card-title {
    font-size: 1.3em !important;
    font-weight: normal !important;
    margin-bottom: 0.5em !important;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 174px;
}

::ng-deep .custom-card-title .ui-card-body {
    background-color: #edede2;
}

::ng-deep .custom-card-title .ui-card-content {
    max-height: 210px;
    height: 210px;
    margin-bottom: 25px;
    overflow-y: auto;
}

.card-details-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 174px;
    float: left;
}
.card-details-icon {
    margin: 8px 10px 0px 10px;
}
.app-container-title {
    border: 1px solid black;
    background-color: #916aae;
    color: white;
    padding: 10px;
}

.add-new-link {
    position: absolute;
    bottom: 10px;
    left: 24px;
}

.app-container-body {    
    border: 1px solid black;
    background-color: #e2d2ed;
    padding: 10px;
    min-height: 70vh;
    max-height: 72vh;
    overflow-y: auto;
}

.list-icon {
    right: 30px;
    top: 15px;
    position: absolute;
}

.list-icon:hover {
    cursor: pointer;
}