<p-dialog *ngIf="display" header="Add New List" [(visible)]="display" appendTo="body" [position]="position" [modal]="true" [style]="{width: '30vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" (visibleChange)="hide()">
    <form [formGroup]="listForm" (ngSubmit)="addList(listForm.value)">        
        <div class="p-field p-grid">
            <label style="align-items: normal !important" class="col-lg-6" for="listName">
                List Name
                <span class="text-danger">*</span>
            </label>
            <div class="col-lg-6">             
                <div class="form-group">
                    <input type="text" formControlName="listName" class="form-control" placeholder="Enter List Name"  [ngClass]="{ 'is-invalid': !listForm.controls['listName'].valid && listForm.controls['listName'].dirty }" />
                    <div *ngIf="!listForm.controls['listName'].valid && listForm.controls['listName'].dirty" class="invalid-feedback">
                        <div *ngIf="listForm.controls.listName.errors.required">This field is required</div>
                    </div>
                </div>   
            </div>
        </div>
    </form>
    <p-footer>
        <span  class="text-danger float-left">* fields are mandatory.</span>
        <button type="button" pButton (click)="addList(listForm.value)" label="Add" [disabled]="!listForm.valid"></button>
        <button type="button" pButton (click)="cancelAddList()" label="Cancel" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>

